<%# Preview Component %>
<div id="preview">
  <div class="preview-container" tabindex="0" touch-action="none">
    <div id="preview-content">
      <div id="mermaid-container" class="mermaid">
        <% if (typeof mermaidText !== 'undefined' && mermaidText) { %>
          <%- mermaidText %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="zoom-controls">
    <button id="zoomOut" class="zoom-button" title="<%- t('Zoom Out (Ctrl + Mouse Wheel Down)') %>">
      <i class="fas fa-search-minus"></i>
    </button>
    <span class="zoom-level">100%</span>
    <button id="zoomIn" class="zoom-button" title="<%- t('Zoom In (Ctrl + Mouse Wheel Up)') %>">
      <i class="fas fa-search-plus"></i>
    </button>
    <button id="resetZoom" class="zoom-button" title="<%- t('Reset Zoom (Ctrl + 0)') %>">
      <i class="fas fa-expand"></i>
    </button>
  </div>
  <div class="keyboard-shortcuts">
    <%- t('Ctrl + Wheel: Zoom') %><br>
    <%- t('Alt + Drag or Space + Drag: Pan') %><br>
    <%- t('Ctrl + 0: Reset View') %><br>
    <%- t('Ctrl + F: Fit') %>
  </div>
</div>