<%# Toolbar Component %>
<div class="toolbar">
  <div class="toolbar-group">
    <button id="format" class="toolbar-button" title="<%- t('Format Diagram Code') %>">
      <i class="fas fa-align-left"></i>
      <span><%- t('Format') %></span>
    </button>
  </div>

  <div class="toolbar-group">
    <button id="exportPNG" class="toolbar-button" title="<%- t('Export as PNG') %>">
      <i class="fas fa-file-image"></i>
      <span><%- t('PNG') %></span>
    </button>
    <button id="exportSVG" class="toolbar-button" title="<%- t('Export as SVG') %>">
      <i class="fas fa-code"></i>
      <span><%- t('SVG') %></span>
    </button>
  </div>
</div>
